@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto&display=swap');

.none {
    height: 0 !important;
    border: none !important;
}

.list_container {
    width: 20rem;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 2rem;
}

#title {
    margin: 0.5rem 0 0 0.75rem;
    font-family: 'Open Sans', sans-serif;
}

#todo_container {
    overflow-y: scroll;
    max-height: 50vh;
}

#todo_info_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.dropdown {
    position: absolute;
    height: 6.5rem;
    top: 17px;
    right: 0;
    background-color: white;
    border-radius: 5px;
    border: solid 1px lightgray;
    z-index: 2;
    overflow: hidden;
    transition: height 0.5s;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.dropdown_choice {
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.dropdown_choice:hover {
    background-color: lightgray;
}

.dropdown_choice:not(:last-child) {
    border-bottom: solid 1px lightgray;
}

.more {
    width: 1.5rem;
    background: url('/assets/more.svg') center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.urgent_todo {
    padding: 0.20rem;
    margin: 0.10rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    color: white;
    background-color: red;
}

.priority_todo {
    padding: 0.20rem;
    margin: 0.10rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    background-color: lightsalmon;
}

.not_priority_todo {
    padding: 0.20rem;
    margin: 0.10rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    background-color: lightgreen;
}

#todo_form {
    margin: 0.5rem;
}

#todo_input {
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    outline: none;
}

.todo_message {
    padding-top: 0.33rem;
    font-family: 'Roboto', sans-serif;
}

.todo {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: whitesmoke;
    word-wrap: break-word;
}